@model IEnumerable<MedicAid_MVC.Models.DoctorModel>

@{
    ViewBag.Title = "Doctor Search";
}

<h2>@ViewBag.Title</h2>

<body background=@Url.Content("~/Content/image/medicalwallpapers2.jpg")>

    <div class="container">
        <div class="row">

            <div class="navbar">
                <ul class="nav navbar-nav">
                    <li>
                        @Html.ActionLink("Create", "Create", "Doctor")
                    </li>

                </ul>
            </div>
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Doctor's Information</h3>
                    <div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                        <tr class="filters">
                            <th><input type="text" class="form-control" placeholder="Name"></th>
                            <th><input type="text" class="form-control" placeholder="Specialist"></th>
                            <th><input type="text" class="form-control" placeholder="Hospital's Name"></th>
                        </tr>
                    </thead>
                    @foreach (var doctor in Model)
                    {
                        <tbody>
                            <tr>
                                <td>@doctor.Name</td>
                                <td>@doctor.Specialist</td>
                                <td>@doctor.HospitalName</td>
                                <td>@doctor.Contact</td>
                                @if (doctor.IsAvailable)
                                {
                                    <td>Available</td>
                                }
                                @if (!doctor.IsAvailable)
                                {
                                    <td>Not Available</td>
                                }
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
