@model IEnumerable<MedicAid_MVC.Models.DoctorModel>
@using MedicAid_MVC.Models

@{
    ViewBag.Title = "Doctor Search";
}
@*<h2>@ViewBag.Title</h2>*@

<body background=@Url.Content("~/Content/image/medicalwallpapers2.jpg")>

    <div class="container">
        <div class="row">

            @if (User.IsInRole(RoleName.Admin))
            {
                <button class="btn btn-primary btn-lg btn-filter">
                    @Html.ActionLink("Create", "Create", "Doctor")
                </button>
            }
            <section style="height:10px;"></section>

            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Doctor's Information</h3>
                    @*<div class="pull-right">
                            <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                        </div>*@
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                        @using (Html.BeginForm("Search", "Doctor"))
                        {
                            <tr class="filters" style="align-content: center">

                                <th>
                                    <label>
                                        <input type="text" class="form-control" placeholder="Name" name="nameFilter" value="@ViewBag.Name">
                                    </label>
                                </th>
                                <th>
                                    <label>
                                        <input type="text" class="form-control" placeholder="Specialist" name="field" value="@ViewBag.Specialist">
                                    </label>
                                </th>
                                <th>
                                    <label>
                                        <input type="text" class="form-control" placeholder="Hospital's Name" name="hospitalNameFilter" value="@ViewBag.HospitalName">
                                    </label>
                                </th>
                                <th>
                                    <div class="pull-right" style="align-content: center">
                                        <button class="btn btn-primary btn-xs btn-filter" style="padding: 14%; margin-bottom: 8%; width: 120%;">
                                            <span class="glyphicon glyphicon-filter"></span> Filter
                                        </button>
                                    </div>
                                </th>

                                <th>
                                    <div>
                                        <span>&emsp;</span>
                                    </div>
                                </th>

                            </tr>
                        }
                    </thead>

                    <tbody>
                        @foreach (var doctor in Model)
                        {
                            <tr>
                                <td>@doctor.Name</td>
                                <td>@doctor.Specialist</td>
                                <td>@doctor.HospitalName</td>
                                <td>@doctor.Contact</td>
                                @if (doctor.IsAvailable)
                                {
                                    <td>Available</td>
                                }
                                @if (!doctor.IsAvailable)
                                {
                                    <td>Not Available</td>
                                }

                                @if (User.IsInRole(RoleName.Admin))
                                {
                                    using (Html.BeginForm("Delete", "Doctor" , new {id = doctor.Id}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <td>
                                            <div class="form-actions no-color">
                                                <input type="submit" value="Delete" class="btn btn-default" />
                                            </div>
                                        </td>
                                    }

                                }
                            </tr>
                        }

                        @if (Model.ToList().Count() == 0)
                        {
                            <tr>
                                <td>
                                    <div style="padding: 5%;">
                                        <h4>Sorry,  No Doctor Found!</h4>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
