<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="austcse . medicaid, sd-v" />
    <meta name="project-name" content="medicaid" />
    <meta name="author" content="Sayef Reyadh" />
    <meta name="author" content="Asif Imtiaz Shaafi" />
    <meta name="author" content="Farzana Eva" />
    
    
    <title>@ViewBag.Title - MedicAid</title>
    

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
                @Html.ActionLink("MedicAid", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Doctor's Info", "Search", "Doctor")</li>
                    <li>@Html.ActionLink("Hospital's Info", "Search", "Hospital")</li>
                    <li>@Html.ActionLink("Pharmacy's Info", "Search", "Pharmacy")</li>
                    <li>@Html.ActionLink("Emergency Contacts", "Search", "Emergency")</li>
                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - MedicAid</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
