@using MedicAid_MVC.Models
@using Microsoft.AspNet.Identity
@using MedicAid_MVC.Utilities


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="margin-right: 10px;">
            @if (!User.IsInRole(RoleName.Admin) && !User.IsInRole(RoleName.Receptionist))
            {
                <li class="@Html.IsActive("Appointment", "CreateAppointment")">
                    @Html.ActionLink("Create Appointment", "CreateAppointment", "Appointment")
                </li>
            }
            <li class="@Html.IsActive("Manage", "Index")">
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="margin-right: 100px;">
        <li class="@Html.IsActive("Account", "Register")">
            @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li class="@Html.IsActive("Account", "Login")">
            @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
}
