@model IEnumerable<MedicAid_MVC.Models.PharmacyModel>
@using MedicAid_MVC.Models

@{
    ViewBag.Title = "Pharmacy Search";
}

<body background=@Url.Content("~/Content/image/pharma.jpg")>



    <div class="container">
        <div class="row">

            @if (User.IsInRole(RoleName.Admin))
            {
                <button class="btn btn-primary btn-lg btn-filter">
                    @Html.ActionLink("Create", "Create", "Pharmacy")
                </button>
            }
            <section style="height:10px;"></section>

            <div class="panel panel-warning filterable">
                <div class="panel-heading">
                    <h3 class="panel-title">Pharmacy's Information</h3>
                </div>
                <table class="table table-hover table-striped">
                    <thead>
                        @using (Html.BeginForm("Search", "Pharmacy"))
                        {

                            <tr class="filters">
                                <th>
                                    <label>
                                        <input type="text" class="form-control" placeholder="Name" name="nameFilter" value="@ViewBag.nameFilter">
                                    </label>
                                </th>
                                <th><input type="text" class="form-control" placeholder="Location" name="locationFilter" value="@ViewBag.locationFilter"></th>
                                <th>
                                    <div class="pull-right">
                                        <button class="btn btn-warning btn-xs btn-filter" style="padding: 14%; margin-bottom: 8%; width: 120%;">
                                            <span class="glyphicon glyphicon-filter"></span> Filter
                                        </button>
                                    </div>
                                </th>

                                <th>
                                    <div>
                                        <span>&emsp;</span>
                                    </div>
                                </th>
                            </tr>
                        }
                    </thead>
                    <tbody>
                        @foreach (var pharmacy in Model)
                        {
                            <tr>
                                <td>@pharmacy.Name</td>
                                <td>@pharmacy.Location</td>
                                <td>@pharmacy.ClosingDay</td>
                                <td>@pharmacy.Contact</td>
                            </tr>
                        }


                        @if (Model.ToList().Count() == 0)
                        {
                            <tr>
                                <td>
                                    <div style="padding: 5%;">
                                        <h4>Sorry,  No Pharmacy Found!</h4>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <ul class="pagination">
                    <li>
                        <a href="#">Prev</a>
                    </li>
                    <li>
                        <a href="#">1</a>
                    </li>
                    <li>
                        <a href="#">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
